process {

    container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.base.sif"

    withName: "PREPROCESS_RDS" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.annotate.sif"
    }

    withName: "ANNOTATE_CELL_CYCLE" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.annotate.sif"
    }

    withName: "ANNOTATE_CLUSTERS" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.annotate.sif"
    }

    withName: "ANNOTATE_CUSTOM" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.annotate.sif"
    }

    withName: "ANNOTATE_DATABASE" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.annotate.sif"
    }

    withName: "SCTRANSFORM" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.cluster.sif"
    }

    withName: "INTEGRATION" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.cluster.sif"
    }

    withName: "CLUSTER_INTEGRATED" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.cluster.sif"
    }

    withName: "DIFFERENTIAL_EXPRESSION" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.de.sif"
    }

    withName: "DETECT_DOUBLETS" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.doublet.sif"
    }

    withName: "REPORT" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.report.sif"
    }

    withName: "ORA" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.fea.sif"
    }

    withName: "GSEA" {
        container = "/g/data/er01/sih-binf-service/singularity/scrnavigator-nf/scrnavigator-nf.fea.sif"
    }

}

